.cards__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  } */
  
  .cards__item__pic-wrap {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }

  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img,.cards__item__video{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: fill;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  
  .cards__item__img:hover {
    transform: scale(1.2);
  }

  .cards__item__info {
    padding: 20px;
  }

  .cards__item__info__small {
    padding: 12px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 15px;
    line-height: 24px;
    font-family: sans-serif;
  }

  .cards__item__text__small {
    color: #252e48;
    font-size: 13px;
    line-height: 16px;
    font-family: sans-serif;
  }

  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }

    .cards__item__text__small {
      font-size: 15px;
      line-height: 24px;
    }

    .cards__item__info__small {
      padding: 20px;
    }
  }

  @media only screen and (max-width: 510px) {
    .cards__item {
      margin: 0 0 2rem 0;
    }
  }

  @media only screen and (max-width: 510px) {
    .cards__item__text, .cards__item__text__small {
      font-size: 14px;
      line-height: 22px;
    }

    .cards__item__info, .cards__item__info__small {
       padding: 12px; 
    }
  }

  @media only screen and (max-width: 430px) {
    .cards__item__text, .cards__item__text__small {
      font-size: 12px;
      line-height: 20px;
    }
  }