.about-container{
    padding: 6rem 10rem;
    display: flex;
    flex-direction: row;
}

.me-img{
    background: url('../../pictures/myself.jpg') center center/cover no-repeat;
    width: 76vw;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me-text{
    font-size: 3rem;
    margin-bottom: 8px;
    font-family: cursive;
}

.about-me-para{
    font-size: 1.5rem;
    color: #717171;
    font-family: monospace;
    margin-right: 1rem;
}

.about-me-para-first::first-line{
    color: #da3f3f;
}

.about-me-para2{
    margin-top: 2rem;
    margin-right: 1rem;
}

.about-me-para3{
    margin: 2rem 1rem 2rem 0;
    font-size: 1.5rem;
    font-family: cursive;
}

.about-me-life{
    color: #da3f3f;
    font-size: 1.5rem;
}

.about-heart {
    font-size: 18px;
    color: red;
}

@media screen and (max-width: 1330px){
    .about-me-para, .about-me-para3, .about-me-life{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px){
    .about-container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .me-img{    
        width: 20vw;
        height: 20vh;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .about-me-text, .about-me-para, .about-me-para3{
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    .about-container {
        padding: 4rem;
    }

    .about-me-text{
        font-size: 2rem;
    }

    .about-me-para, .about-me-para3, .about-me-life{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px){

    .me-img{    
        height: 13vh;
    }
}

@media screen and (max-width: 385px){

    .me-img{    
        height: 13vh;
    }
}