.home-container {
  background: url('../../pictures/comDraw7.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  transition: background-color 0.6s ease;
  }
  
  .home-container > h1 {
    color: #da3f3f;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .home-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }


  /* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 36px 2px 0 2px;
  background-color: #ffc800;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color:rgb(2, 231, 212);
}

.home-slider {
  margin-top: 3rem;
  color: #ff1616;
  font-size: 2rem;
}

@media screen and (max-width: 1060px) {
  .home-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}
  
@media screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .home-container > p {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .home-container {
    background: url('../../pictures/comDraw77.jpg') center center/cover no-repeat;
  }
  .home-container > h1 {
    font-size: 28px;
    margin-top: -100px;
  }

  .home-container > p {
    font-size: 16px;
  }
}