
.footer-container {
    background-color: rgb(44, 44, 44);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2vh;
  }
  
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 18px;
  }
  
  .social-media {
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
  }
  
  .website-rights {
    color: #fff;
  }
  
  @media screen and (max-width: 465px) {
    .social-media-wrap {
      flex-direction: column;
    }
    .website-rights {
      margin-bottom: 4px;
    }
  }